body{
  font-family: Calibri, sans-serif;
  font-family: 'ciscoSansTT', sans-serif;
  color: #333;
  font-size: 12px;
}
.cld-number {
  position: relative;
  margin: 0;
  padding: 5px !important;
  margin: 11px  !important;
}

.cld-label, .cld-day {
  box-sizing: border-box;
  display: inline-block;
  width: 51px  !important;
  height: 4px  !important;
  text-align: center;
}

.cld-day {
  /* border: 1px solid #eee; */
  border: none !important;
}

.cld-day.today .cld-number {
  border-radius:100%;
  background: #58585b !important; 
}

.subheader {
  display: block;
  background: #e8ebf1;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color:#39393b;
  position: relative;
  margin-bottom: 10px;
}

.btn-link {
  font-size: 12px;
  position: absolute;
  right: 20px;
}

.btn-link:hover {
    color:#049fd9;
    cursor: pointer;
}

.cld-fwd, .cld-rwd {
  display: none;
}

.event-card
{
  display: inline-block;
  width: 250px;
  padding: 10px;
  background: #e8ebf19e;
  margin:10px 20px 10px 0;
}

.event-body  {
  font-size: 12px;
  margin-top: 5px;
}

.type1 {
  border-left: 5px solid #049fd9;
}


.type2 {
  border-left: 5px solid #13a792;
}


.type3 {
  border-left: 5px solid #6cc04a;
}


.type4 {
  border-left: 5px solid #ffcc00;
}

.modal-backdrop {
  position: absolute;
  background:rgba(176, 176, 176, 0.48);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
 
}

.hide {
 display: none;
}

.modal {
  position: absolute;
  top: 60px;
  background: #fff;
  width: 400px;
  height: 200px;
  padding: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.23);
  left: 50%;
  margin-left: -200px;
  text-align: center;
}